---
import Layout from "../../layouts/Layout.astro";
import AuthForm from "@/components/AuthForm.vue";
---

<Layout>
  <div
    class="flex h-screen w-full items-center justify-center bg-[url('/forest.jpg')] bg-cover bg-center"
  >
    <div class="flex w-xs flex-col items-center gap-5">
      <AuthForm client:load />
    </div>
  </div>
</Layout>
