---
import Layout from "@/layouts/Layout.astro";
import ForgotPasswordForm from "@/components/ForgotPasswordForm.vue";
---

<Layout>
  <div
    class="flex h-screen w-full items-center justify-center bg-[url('/forest.jpg')] bg-cover bg-center"
  >
    <div class="flex w-xs flex-col items-center gap-5">
      <ForgotPasswordForm client:load />
    </div>
  </div>
</Layout>
