---
import AuthLayout from "@/layouts/AuthLayout.astro";
import ForgotPasswordForm from "@/components/ForgotPasswordForm.vue";
---

<AuthLayout>
  <div class="h-full w-full bg-red-500"></div>
  <ForgotPasswordForm client:load />
</AuthLayout>
