@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #ffc72c;
  --color-secondary: #611e2e;
  --color-accent: #cfc4b7;
  --color-complementary: #efe9e1;
  --font-header: "Roboto", sans-serif;
  --font-body: "Exo 2", sans-serif;
}
