@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #ffc72c;
  --color-secondary: #611e2e;
  --color-accent: #cfc4b7;
  --color-complementary: #efe9e1;
}
