---
// Component Imports
import Layout from "../layouts/Layout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout>
  <a href="/login">login page uwu</a>
  <a href="/test">test page</a>
</Layout>
