---
import "./src/styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <main>
      <div
        class="flex h-screen w-full bg-[url('/forest.jpg')] bg-cover bg-center"
      >
        <slot />
      </div>
    </main>
  </body>
</html>

<ClientRouter />
